.header{
    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding-top: 32px;
    text-align: center;
}

.nav-bar{
    text-align: center;
}

.nav-bar .menu-item{
    display: inline-block;
    margin: 0 2px 32px 0;

}

.nav-bar .menu-item a{
    text-decoration: none;
    color: white;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

.nav-bar .menu-item a:hover{
    background-color: #48A3A6;
}

.header .main-header{
    text-transform: uppercase;
    padding: 0 0 44px 0;
}

.header .panel-main{
    color: white;
    text-shadow: 4px 4px 10px black;
}

.header .title-alura{
    font-size: 3em;
    margin-bottom: 8px;
}

.header .title-data{
    font-size: 2.6em;
    color: #64FF64;
    margin-bottom: 28px;
}

.header .subscribe-anchor{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #48A3A6;
    padding: 24px 56px;
    display: inline-block;
    border-radius: 10px;
}

@media (min-width: 650px){
    .header .main-header {
        font-size: 28px;
    }
}

.panel-about{
    margin: 24px;
    text-align: center;
}

.panel-about .content-title{
    font-size: 2.4em;
}

.panel-about .date-title{
    font-size: 1.4em;
    margin: 1em 0;
}

.panel-about p{
    font-size: 1.1em;
    line-height: 2em;
}

.panel-speakers{
    background-color: #EF7247;
    padding: 40px 24px 0;
}

.panel-speakers .about-speakers {
    text-align: center;
    color: white;
}

.panel-speakers .about-speakers .title {
    text-align: center;
    font-size: 2.2em;
}

.panel-speakers .about-speakers .subtitle {
    text-align: center;
    font-size: 1.8em;
    margin: 16px 0;
}

.panel-speakers .speakers{
    text-align: center;
}

.panel-speakers .speaker{
    background-color: white;
    display: inline-block;
    margin: 0 16px 32px;
    padding: 18px;
    border-radius: 10px;
    width: 220px;
    vertical-align: top;
    text-align: center;
}

.panel-speakers .speaker-image{
    border-radius: 100%;
}

.panel-speakers .speaker-name{
    margin: 10px 0;
}

.panel-speakers .speaker-bio{
    font-weight: bold ;
    margin-bottom: 10px;
}

.form{
    margin: 32px 24px 0;
}

.form .form-title{
    font-size: 2em;
    color: #EF7247;
    text-align: center;
    text-transform: uppercase;
}

.form .field {
    margin-bottom: 16px;
}

.form .field label{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.form .field-input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #48A3A6;
}

.form .send-form{
    color: white;
    font-size: 18px;
    background-color: #48A3A6;
    padding: 24px 56px;
    display: inline-block;
    border-radius: 10px;
}

.form .button-place{
    text-align: center;
}